html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  height: 100px;
  overflow-y: scroll; /* Tambahkan kemampuan untuk melakukan scrolling */
}

/* Sembunyikan scrollbar dari Chrome, Safari dan Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Sembunyikan scrollbar untuk IE, Edge dan Firefox */
body {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  text-decoration: 0px;
  padding: 0px;
  margin: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* untuk pc atau laptop */
@media screen and (min-width: 1100px) {
  .container-headers {
    width: 100%;
    height: 95px;
    position: fixed;
    background-color: #202020;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 20% 40% 40%;
    z-index: 999;
  }

  /* distro img bar */
  .distroImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .distroImg img {
    min-width: 70%;
    height: auto;
  }
  /* akhir distro bar */

  /* search bar */
  .search {
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .search-group {
    display: flex;
    max-width: 70%;
    height: 50px;
    overflow: hidden;
    border-radius: 20px;
  }

  .searchImg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    height: 100%;
    background-color: #66cac4;
    border-radius: 10px;
    position: relative;
  }

  .searchImg img {
    max-width: 35%;
    height: auto;
  }

  .searchbox {
    max-width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    display: inline-block;
    margin-left: -20px;
    padding-left: 40px;
    padding-right: 60px;
    line-height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }

  .searchbox input[type="text"],
  .searchbox input[type="text"]:focus {
    border: none;
    outline: none;
    height: 100%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    background: none;
  }
  /* akhir search */

  /* Bagian Navbar */
  nav {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    margin-left: -20px;
  }

  nav ul {
    margin-left: 25px;
  }

  nav ul .navv {
    list-style: none;
    display: inline-block;
  }

  nav ul .navv a {
    position: relative;
    color: white;
    font-size: 1.5vmax;
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 75px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  nav ul .navv a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: white;
    justify-content: space-around;
    bottom: -10px;
    left: 0px;
    transition: 0.3s;
  }

  nav ul .navv a:hover {
    color: lightblue;
  }
  nav ul .navv a:hover:after {
    width: 100%;
  }

  /* dropdown shop */
  nav ul .dropdown {
    display: none;
  }

  nav ul li:hover .dropdown {
    position: absolute;
    display: block;
    width: 25.5vmin;
    height: auto;
    margin-left: -5px;
  }

  .dropdown {
    background-color: #202020;
  }

  .dropdown ul li {
    list-style: none;
  }

  .dropdown ul li a {
    font-size: 1.5vmax;
  }
  /* akhir dropdown shop */

  nav .Btnsignup {
    margin-left: 40px;
    width: 16.5vmin;
    height: 6.6vmin;
    background-color: #f0692e;
    border: 2px solid #f0692e;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  nav .Btnsignup a {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 1.5vmax;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 100%;
    height: 100%;
  }

  nav .Btnsignup:hover {
    background-color: transparent;
    border: 2px solid #f0692e;
    border-radius: 20px;
  }

  nav .Btnsignup a:hover {
    width: 100%;
    height: 100%;
    color: white;
  }

  /* akhir navbar */

  /* Bagian Content */
  .content {
    background-color: transparent;
    clear: both;
    width: 100%;
    height: auto;
  }

  /* dasboard */
  .content .container-dasboard {
    width: 100%;
    height: 110vh;
    background-color: #494949;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .container-dasboard .columnitems-1 {
    display: grid;
    grid-template-rows: 55% 45%;
  }

  .columnitems-1 .mediatext {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .mediatext img {
    width: 37vmax;
    height: auto;
  }

  /* column 1 sebelah kiri */
  .columnitems-1 .boxmodel {
    width: 19.5vmax;
    height: 10.2vmax;
    margin-top: 10px;
    margin-left: 115px;
    background-color: #66cac4;
    border-radius: 41px;
    box-sizing: border-box;
  }

  .box-content .paragraph {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .paragraph p {
    font-size: 1.2vmax;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

  .btnBuy {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 3.1vmax;
    margin-top: 1.1vmax;
    background-color: #f0692e;
    border: 4px solid #f0692e;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }

  .btnBuy:hover {
    background-color: transparent;
    transition: 0.3s;
  }
  .btnBuy img {
    width: 2.2vmax;
    height: auto;
  }

  .btnBuy a {
    font-size: 1.2vmax;
    text-decoration: none;
    margin: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-left: 0.3vmax;
  }

  .btnBuy a:hover {
    color: dodgerblue;
    transition: 0.3s;
  }
  /* akhir column 1 sebelah kiri */

  /* column 2 sebelah kanan */
  .container-dasboard .columnitems-2 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .columnitems-2 img {
    width: 37vmax;
    height: auto;
    position: absolute;
  }
  /* akhir column2 sebelah kanan */

  /* akhir dasboard */

  /* outfit cowok */
  .content .container-otc {
    width: 100%;
    height: auto;
    background-color: #2f2f2f;
    display: grid;
    grid-template-areas: 20% 80%;
    box-sizing: border-box;
    padding-bottom: 55px;
    padding-top: 100px;
  }

  .container-otc .mediaText {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .mediaText h1 {
    font-size: 3vmax;
    color: white;
    display: inline;
    font-family: "Montserrat", sans-serif;
    height: auto;
    width: auto;
    border-bottom: 7px solid #f0692e;
  }

  .container-otc .gallery-outfit {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .gallery-outfit .outfit-cowok {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .outfit-cowok .items {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 30%;
    margin-top: 10px;
  }

  .items a {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
  }

  .items a .item {
    width: 15vmax;
    height: 15vmax;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .items a .item img {
    width: 100%;
    height: 100%;
  }

  .items a:hover > .item {
    box-shadow: 1px 1px 20px 2px rgb(0, 0, 0.4);
  }

  .items a:hover {
    color: #66cac4;
    transform: scale(0.9);
    transition: 0.3s;
  }
  /* akhir outfit cowok */

  /* outfit cewek */
  .content .container-otck {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 20% 80%;
    padding-top: 105px;
    background-color: #494949;
  }

  .container-otck .mediaTextc {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .mediaTextc h1 {
    font-size: 3vmax;
    color: white;
    display: inline;
    font-family: "Montserrat", sans-serif;
    height: auto;
    width: auto;
    border-bottom: 7px solid #f0692e;
  }

  .container-otck .gallery-outfitc {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .gallery-outfitc .outfit-cewek {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .outfit-cewek .itemsc {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 30%;
    margin-top: 10px;
  }

  .itemsc a {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
  }

  .itemsc a .itemc {
    width: 15vmax;
    height: 15vmax;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .itemsc a .itemc img {
    width: 100%;
    height: 100%;
  }

  .itemsc a:hover > .itemc {
    box-shadow: 1px 1px 20px 2px rgb(0, 0, 0.4);
  }

  .itemsc a:hover {
    color: #66cac4;
    transform: scale(0.9);
    transition: 0.3s;
  }
  /* akhir outfit cewek */

  /* ootd cowok */
  .content .container-ootd {
    width: 100%;
    height: 100vh;
    background-color: #2f2f2f;
    display: grid;
    padding-top: 90px;
    padding-bottom: 170px;
    grid-template-rows: 20% 70% 20%;
    grid-gap: 40px;
  }

  .container-ootd .mediaTextOotd {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .mediaTextOotd h1 {
    font-size: 5vmax;
    color: white;
    display: inline;
    font-family: "Montserrat", sans-serif;
    height: auto;
    width: auto;
    border-bottom: 7px solid #f0692e;
  }

  .container-ootd .galery-ootdCowok {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .galery-ootdCowok .ootdCowok {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  .ootdCowok .itemsootd {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemsootd a .itemootd {
    width: 100%;
    height: 30vmax;
    border-radius: 10px;
    overflow: hidden;
  }

  .itemootd img {
    width: 100%;
    height: 100%;
  }

  .itemootd:hover {
    transition: 0.3s;
    transform: scale(0.9);
    box-shadow: 1px 1px 20px 2px rgb(0, 0, 0.4);
  }

  .container-ootd .viewText {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .viewText .linkView {
    width: 15%;
    height: 39%;
    background-color: #1e1f1f;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #1e1f1f;
  }

  .viewText .linkView:hover {
    background-color: transparent;
    transition: 0.3s;
  }

  .linkView a {
    text-decoration: none;
    color: white;
    font-size: 1.9vmax;
    font-family: "Montserrat", sans-serif;
  }
  /* akhir ootd cowok */

  /* ootd cewek */
  .content .container-ootdCewek {
    width: 100%;
    height: 100vh;
    background-color: #494949;
    display: grid;
    grid-gap: 40px;
    padding-top: 90px;
    padding-bottom: 170px;
    grid-template-rows: 20% 70% 20%;
  }

  .container-ootdCewek .mediaTextOotd {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .mediaTextOotd h1 {
    font-size: 5vmax;
    color: white;
    display: inline;
    font-family: "Montserrat", sans-serif;
    height: auto;
    width: auto;
    border-bottom: 7px solid #f0692e;
  }

  .container-ootdCewek .galery-ootdCewek {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .galery-ootdCewek .ootdCewek {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  .ootdCewek .itemsootd {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemsootd a .itemootd {
    width: 100%;
    height: 30vmax;
    border-radius: 10px;
    overflow: hidden;
  }

  .itemootd img {
    width: 100%;
    height: 100%;
  }

  .itemootd:hover {
    transition: 0.3s;
    transform: scale(0.9);
    box-shadow: 1px 1px 20px 2px rgb(0, 0, 0.4);
  }

  .container-ootdCewek .viewText {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .viewText .linkView {
    width: 15%;
    height: 39%;
    background-color: #1e1f1f;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #1e1f1f;
  }

  .viewText .linkView:hover {
    background-color: transparent;
    transition: 0.3s;
  }

  .linkView a {
    text-decoration: none;
    color: white;
    font-size: 1.9vmax;
    font-family: "Montserrat", sans-serif;
  }
  /* akhir ootd cewek */

  /* brand / sponsor */
  .content .container-brand {
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    background-color: #2f2f2f;
    display: grid;
    padding-bottom: 55px;
    grid-template-rows: 20% 80%;
    grid-gap: 30px;
  }

  .container-brand .mediaTextBrand {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .mediaTextBrand h1 {
    font-size: 4vmax;
    color: white;
    display: inline;
    font-family: "Montserrat", sans-serif;
    height: auto;
    width: auto;
    border-bottom: 7px solid #f0692e;
  }

  .container-brand .galery-brand {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .galery-brand img {
    width: 80vmax;
    height: auto;
  }
  /* akhir brand / sponsor */

  footer {
    padding: 40px 0;
    background-color: silver;
  }

  footer .fod-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fod-footer p {
    font-size: 1.5vmax;
    color: black;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
  }
}

/* untuk device hp */
@media screen and (min-width: 0px) and (max-width: 500px) {
  .container-headers {
    width: 100%;
    height: 85px;
    background-color: aqua;
  }
}

/* Next device hp ke tablet   */
@media screen and (min-width: 501px) and (max-width: 1099px) {
  .container-headers {
    width: 100%;
    height: 95px;
    background-color: red;
  }
}
